* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
	flex-direction: column
}

.control-board {
	display: flex;
	color: #fff;
	margin-right: 15px;
}

#range-board {
	margin-right: 15px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
	margin-top: 50px;
}

.square {
  width: 20px;
  height: 20px;
  margin: 2px;
  background: #1d1d1d;
  box-shadow: 0 0 2px #111;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
}
